body{
    margin: 0;
    padding: 0; 
    font-size: 25px;
    background-color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
     
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#C0C0C0 ;
    width: 80%;
    padding: 50px;
    margin: auto;    
    margin-bottom: 20px;
}

.container input,  select{
    height: 35px;
    width: 80%;
    margin-bottom: 25px;
    font-size: 20px;
}

#calculate{
    height: 35px;
    width: 80%;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}
